*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
}
.container h1 {
    display: flex;
    font-size: 35px;
    font-weight: 600;
    align-items: center;

}
.container h1 img{
    width: 60px;
} 
.container button img{
    width: 25px;
    margin-right:  8px;
}
.container button{
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 40px ;
    background: linear-gradient(#a15ade, #7416c6);
    color: #fff;
    cursor: pointer;
    padding: 15px 25px;
    font-size: 16px;
    margin: 30px 0 20px;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background-color: #fff;
    color: #333;
    padding: 20px;
    outline: none;
    border-radius: 5px;
    margin: 20px 0;
}
.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
