@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:ital,wght@0,700;1,400;1,500&display=swap');

/*font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}
body{

    background-color: rgb(119, 243, 243);
}
.box-quote{
    background-color: #ffffffaf;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(57, 57, 57, 0.796);
}
.box-quote h1 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}
.box-quote h1::after{
    content: '';
    height: 3px;
    width: 75px;
    border-radius: 5px;
    background-color: rgb(23, 124, 229);
    bottom: -10px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.box-quote blockquote{
    font-size: 26px;
    min-height: 110px;
}
.box-quote blockquote::before, 
.box-quote blockquote::after {
    content: '"';
}
.box-quote span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;

}
.box-quote span::before{
    content: '';
    width: 20px;
    height: 2px;
    background-color: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}
.box-quote div{
    
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.box-quote button{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: rgba(97, 165, 238, 0.84);
    border: 2px solid rgb(3, 100, 245) ;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    border-radius: 25px;
}
.box-quote button:nth-child(2){
    background: transparent;
    color: #333;
}
@media screen and (max-width: 650px){
    .box-quote{
        width: 80%;
        
    }
}